.cardBox {
    display: flex;
    margin: 10px 0;
    justify-content: space-around;
}
.flexBox {
    display: flex;
}
.wraper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cityTitle {
    margin-bottom: 5px;
    color: rgb(14, 16, 136);
}
.locationBox {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.locationCountry {
    margin: 0;
    color: gray;
    font-size: 17px;
}
.chartsBox {
    display: flex;
    justify-content: center;
}