
.wraper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.mainContainer {
    display: flex;
    align-items: flex-start;
}
.container {
    display: flex;
    align-items: flex-end;
}
.btnSend {
    margin-top: 15px;
}

